{% extends 'base.html' %}

{% block content %}
<div class="container content">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Booking List</h3>
            <ul>
                {% for booking in bookings %}
                    <li>
                        {{ booking.name }} - {{ booking.date }} {{ booking.time }}
                        <a href="{% url 'edit_booking' booking.id %}">Edit</a>
                        <a href="{% url 'delete_booking' booking.id %}">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
