{% extends "base.html" %}

{% block content %}

<div class="hero-image">
        <div class="hero-text">
            <h1 class="welcome-animation">WELCOME TO CAFE SOUL</h1>          
        </div>
    </div>

<div class="container text-center">
  <h3>Coffee</h3>
  <p><em>We love Coffee!</em></p>
  <p>Organic roasted coffee prepared with love.</p>
  
  <div class="row">
    <div class="col-sm-4">
      <div class="coffee-item">
        <img src="https://t4.ftcdn.net/jpg/01/16/61/93/360_F_116619399_YA611bKNOW35ffK0OiyuaOcjAgXgKBui.jpg" alt="Capaccino">
        <h4>Capaccino</h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="coffee-item">
        <img src="https://img.freepik.com/premium-photo/heart-steam-hovering-red-coffee-cup-coffee-wooden-table-with-cream-wall_158502-206.jpg" alt="Americano">
        <h4>Americano</h4>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="coffee-item">
        <img src="https://media.istockphoto.com/id/508347326/photo/happy-coffee-cup.jpg?s=612x612&w=0&k=20&c=VddFWLomZ_Wv_vvX7-nVsSD9Zze5CXFt6mKGgU7R10c=" alt="Flat white">
        <h4>Flat white</h4>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-12 mt-3 left">
          <div class="row">
              {% for post in post_list %}
              <div class="col-md-4">
                  <div class="card mb-4">
                      <div class="card-body">
                          <div class="image-container">
                              {% if "placeholder" in post.featured_image.url %}
                              <img class="card-img-top"
                                  src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                              {% else %}
                              <img class="card-img-top" src=" {{ post.featured_image.url }}">
                              {% endif %}
                              <div class="image-flash">
                                  
                              </div>
                          </div>
                          <a href="{% url 'post_detail' post.slug %}" class="post-link">
                              <h2 class="card-title">{{ post.title }}</h2>
                              <p class="card-text">{{ post.excerpt }}</p>
                          </a>
                          <hr />
                          <p class="card-text text-muted h6">{{ post.created_on}}</p>
                      </div>
                  </div>
              </div>
              {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row">
              {% endif %}
              {% endfor %}

          </div>
      </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

          {% endif %}
      </ul>
  </nav>
  {% endif %}
</div>

{% endblock %}
